/*geral*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body {
    background-color: #F1F1F1;
}

textarea:focus, input:focus{
    outline: none;
}

a {
    font-size: .8rem; 
}

a:hover {
    color: #4E0086;
}

/*container login*/


#login-container {
    background-color: #FFF;
    width: 400px;
    margin-left: auto  ;
    margin-right: auto;
    padding: 40px 30px;         /*fazer margem*/
    margin-top: 10vh;           /*comerçar 10% da tela do usuario*/
    border-radius: 10px;        /*arrendondar cantos*/
    text-align: center;

}

/*formulário*/

h1 {
    color:#4E0086
}

form {
    margin-top: 40px;
    margin-bottom: 40px; 
}

label,input{
    display: block;     /*deixar um embaixo do outro*/
    width: 100%;
    text-align: left;

}

label {
    font-weight: bold;
    font-size: .9rem;
    
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;              
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 3px solid #4E0086;
}



.botaologin {                       /*chamar classe*/
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 60px;
    width: 150px;
    border-radius: 20px;
    margin-top: 5px;   
    background-color: #4E0086;
    color: #FFF;
    cursor: pointer;         /*deixar link com maozinha*/
 
}

.botaologin:hover {
    background-color: #1B223C;
    transition: .5s;
}



/*cadastro*/

#cadastro-container {
    background-color: #FFF;
    box-shadow: #472b5a;
    width: 400px;
    margin-left: auto  ;
    margin-right: auto;
    padding: 40px 30px;         
    margin-top: 10vh;           
    border-radius: 10px;        
    text-align: center;

}
.botaocadastro {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 60px;
    width: 170px;
    border-radius: 20px;
    margin-top: 5px;   
    background-color: #4E0086;
    color: #FFF;
    cursor: pointer;  
}

.botaocadastro:hover {
    background-color: #1B223C;
    transition: .5s;
}



#confirmacao-cpfalterar{
    background-color: #FFF;
    box-shadow: #472b5a;
    width: 400px;
    margin-left: auto  ;
    margin-right: auto;
    padding: 40px 30px;         
    margin-top: 10vh;           
    border-radius: 10px;        
    text-align: center;

}
.botaoConfirmacao {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 60px;
    width: 190px;
    border-radius: 20px;
    margin-top: 5px;   
    background-color: #4E0086;
    color: #FFF;
    cursor: pointer;  
}

.botaoConfirmacao:hover {
    background-color: #1B223C;
    transition: .5s;
}




#alteracao-usuario{
    background-color: #FFF;
    box-shadow: #472b5a;
    width: 400px;
    margin-left: auto  ;
    margin-right: auto;
    padding: 40px 30px;         
    margin-top: 10vh;           
    border-radius: 10px;        
    text-align: center;

}
.botaoAlterar {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 60px;
    width: 190px;
    border-radius: 20px;
    margin-top: 5px;   
    background-color: #4E0086;
    color: #FFF;
    cursor: pointer;  
}

.botaoAlterar:hover {
    background-color: #1B223C;
    transition: .5s;
}