/*geral*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body {
    background-color: #F1F1F1;
}

textarea:focus, input:focus{
    outline: none;
}

a {
    font-size: .8rem; 
}

a:hover {
    color: #4E0086;
}

dsfhsadg


