<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Alterar dados de usuário</title>
</head>
<body>
    <h1>Alteração de Dados</h1>

    <form method="post">
        <div>
            <label> Nome Completo: </label>
            <input type= "text" name="nomeCompletoAlterar" placeholder="Digite aqui seu nome completo" value="{{request.form['nomeCompletoAlterar']}}">
        </div>

        <div>
            <label> Idade: </label>
            <input type= "text" name="idadeAlterar" placeholder="Digite aqui a sua idade" value="{{request.form['idadeAlterar']}}">
        </div>

        <div>
            <label> Data de Nascimento: </label>
            <input type= "text" name="dataNascimentoAlterar" placeholder="Digite a sua data de nascimento" value="{{request.form['dataNascimentoAlterar']}}">
        </div>

        <div>
            <label> CPF: </label>
            <input type= "text" name="cpfAlterar" placeholder="Digite aqui seu CPF" value="{{request.form['cpfAlterar']}}">
        </div>

        <div>
            <label> Telefone: </label>
            <input type= "text" name="telefoneAlterar" placeholder="Digite aqui seu telefone para contato" value="{{request.form['telefoneAlterar']}}">
        </div>

        <div>
            <label> E-mail: </label>
            <input type= "text" name="emailAlterar" placeholder="Digite aqui seu e-mail para cadastro" value="{{request.form['emailAlterar']}}">
        </div>

        <div>
            <label> Senha: </label>
            <input type= "text" name="senhaAlterar" placeholder="Digite aqui sua senha para cadastro" value="{{request.form['senhaAlterar']}}">
        </div>

        <div>
            <button type="submit">Efetuar Alterações</button> <a href = "/">Voltar à página inicial</a>
        </div>
        
    </form>
</body>

</html>