<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Endereço</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>Cadastro de Endereço</h1>

    <form method="post">
        <div>
            <label> CEP: </label>
            <input type= "text" name="cep" placeholder="Digite aqui seu cep" value="{{request.form['cep']}}">
       
            <label> Nome da Rua: </label>
            <input type= "text" name="nomeRua" placeholder="Digite aqui o nome da sua rua" value="{{request.form['nomeRua']}}">
       
            <label> Número do Endereço: </label>
            <input type= "text" name="numeroEndereço" placeholder="Digite aqui o número do Endereço" value="{{request.form['numeroEndereço']}}">
       
            <label> Complemento: </label>
            <input type= "text" name="complemento" placeholder="Digite aqui um complemento (opcional)" value="{{request.form['complemento']}}">
        
            <label> Nome do Bairro: </label>
            <input type= "text" name="nomeBairro" placeholder="Digite aqui o nome do Bairro" value="{{request.form['nomeBairro']}}">
        
            <label> Ponto de Referência: </label>
            <input type= "text" name="pontoReferencia" placeholder="Digite aqui um ponto de referencia (opcional)" value="{{request.form['pontoReferencia']}}">
        
            <label> Cidade: </label>
            <input type= "text" name="cidade" placeholder="Digite aqui a cidade onde você mora" value="{{request.form['cidade']}}">
       
            <label> Estado: </label>
            <input type= "text" name="estado" placeholder="Digite aqui o estado onde você mora" value="{{request.form['estado']}}">
       
            <label> CPF do Usuário: </label>
            <input type= "text" name="cpfUsuario" placeholder="Digite aqui seu cpf" value="{{request.form['cpfUsuario']}}">
        </div>

        <div>
            <button type="submit">Efetuar Cadastro de Endereço</button>
        </div>
        
    </form>
</body>

</html>