<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset ="UTF-8">
    <title>Ver Perfil</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styleExibirUsuario.css')}}">

</head>

<body>
    <div class="container-geral">
    <h1>Seu Perfil</h1>
        <div class="container-dadosusuario">
            <h1>Seus dados:</h1>

            <ul>
                {% for dado in dados %}
                <p>ID: {{dado[0]}}</p>
                <p>Nome Completo: {{dado[1]}}</p>
                <p>Data de Nascimento: {{dado[2]}}</p>
                <p>CPF: {{dado[3]}}</p>
                <p>Telefone: {{dado[4]}}</p> 
                <p>E-mail: {{dado[5]}}</p>
                {%endfor%}
            </ul>
        
            <h2>Opções de usuário: </h2>
            <a href = "/ConfirmaçãoCPFAlterar">Alterar informações Pessoais</a>
            
            <h2>Opções de Loja</h2>
            <a href = "/CadastrarLoja"> Cadastrar uma Loja</a>
            <a href = "/user/{{dados[0][0]}}/MinhasLojas"> Minhas Lojas</a>

        </div>
        
        <div class="container-geral">
            </div class="container-dadosendereco">
                <h1>Meu Endereço:</h1>
                <p>Visualize suas opções de Endereços Cadastrados<p> 

            </div>

    </div>
        <a href="/user/{{dados[0][0]}}/ExibirEndereco"> Entrar meus Endereços</a>
        <a href = "/">Voltar à página inicial</a>
    
    </div>

    
    </body>

    </html>