<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset ="UTF-8">
    <title>Ver Perfil</title>
</head>

<body>
    <h1>Seu Perfil</h1>
    
    <h1>Seus dados:</h1>

    <ul>
        {% for dado in dados %}
        <p>ID: {{dado[0]}}</p>
        <p>Nome Completo: {{dado[1]}}</p>
        <p>Idade: {{dado[2]}}</p>
        <p>Data de Nascimento: {{dado[3]}}</p>
        <p>CPF: {{dado[4]}}</p> 
        <p>Telefone: {{dado[5]}}</p>
        <p>E-mail: {{dado[6]}}</p>
        {%endfor%}
    </ul>
    <h2>Opções de usuário: </h2>
    <a href = "/ConfirmaçãoCPFAlterar">Alterar informações</a>
    <a href = "/ConfirmaçãoCPFDeletar">Encerrar sua conta</a>

    <h1>Seus dados de Endereço:</h1>
    <ul>
        {% for dadoEndereço in dadosEndereço %}
        <p>ID do Endereço: {{dadoEndereço[0]}}</p> 
        <p>CEP: {{dadoEndereço[1]}}</p> 
        <p>Nome da Rua: {{dadoEndereço[2]}}</p> 
        <p>Número do Endereço: {{dadoEndereço[3]}}</p> 
        <p>Complemento: {{dadoEndereço[4]}}</p> 
        <p>Nome do Bairro: {{dadoEndereço[5]}}</p> 
        <p>Ponto de Referência: {{dadoEndereço[6]}}</p> 
        <p>Cidade: {{dadoEndereço[7]}}</p> 
        <p>Estado: {{dadoEndereço[8]}}</p> 
        <p>ID do Usuário: {{dadoEndereço[9]}}</p>
        {%endfor%}
    </ul>
    <h2>Opções de Endereço: </h2>
    <a href = "/CadastroEndereço">Cadastrar Endereço</a>
    <a href = "/ConfirmaçãoCPFendereçoAlterar">Alterar informações de Endereço</a>
    <a href = "/DeletarEndereço">Deletar um Endereço</a>

    <p></p>
    <a href = "/">Voltar à página inicial</a>
</body>

</html>