<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title tabindex="1">MEIC</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/homepage.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="{{ url_for('static',filename='img/icon1.png')}}">


</head>
<body>
    <div class="header">
         
        <nav class="nav">
            <a href="/" >
                <img src="{{ url_for('static',filename='img/icon4.png')}}" alt="Meic" id="brand-logo">
            <a href = "/Atendimento">Atendimento</a>
            <a href = "/MeusPedidos">Meus Pedidos</a>
            <a href = "/MostrarLojas">Nossas Lojas</a>
            <a href = "/CadastroLojaLogin">Cadastre sua loja</a>

    </nav>
    </div>

   
    <nav>
        <div class="menu-categoria">
            <ul>
                <li class="categoria"><a href="#">Todas Categorias</a>
                    <ul class="sub-menucategoria">
                        <li><a href = "/Artesanato"> Artesanato</a></li>
                        <li><a href = "/MaquiagemPerfumaria">Maquiagem e Perfumaria</a></li>
                        <li><a href = "/CuidadosPessoais">Cuidados Pessoais</a></li>
                        <li><a href = "/Decoração">Decoração</a></li>
                        <li><a href = "/Jardinagem">Jardinagem</a></li>
                        <li><a href = "/Moda">Moda</a></li>
                        <li><a href = "/Serviços">Serviços</a></li>
                    </ul>
                </li>
                <li class="categoria"><a href = "/Artesanato"> Artesanato</a></li>
                <li class="categoria"><a href = "/CuidadosPessoais">Cuidados Pessoais</a></li>
                <li class="categoria"><a href = "/Decoração">Decoração</a></li>
                <li class="categoria"><a href = "/Moda">Moda</a></li>
                <li class="categoria"><a href = "/Serviços">Serviços</a></li>
            </ul>
        </div>
    </nav>

    
    <nav class="barra-busca">
        <h1 class="nome"> MEIC - Micro Empreendedor Independente de Caucaia</h1>
        <div class= "busca-container">
            <form action="/busca" method="get">
                <input type="text" name="busca" placeholder="Buscar produtos...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    
        <div class="botao-login">  
            <a href = "/CadastroUsuario" class="cadastra-botao">Cadastrar-se</a></li>
            <a href = "/LoginUsuario" class="login-botao">Efetuar o Login</a></li>
        </div>

    </nav>

    <section class="bannerprincipal">
        <div class="imagem">
            <img src="{{ url_for('static',filename='img/bannerhome (4).png')}}"  alt="Imagem 1">
            <img src="{{ url_for('static',filename='img/bannerhome (2).png')}}"  alt="Imagem 2">
            <img src="{{ url_for('static',filename='img/bannerhome (3).png')}}"  alt="Imagem 3">
            <img src="{{ url_for('static',filename='img/bannerhome (1).png')}}"  alt="Imagem 4">
            <img src="{{ url_for('static',filename='img/bannerhome (4).png')}}"  alt="Imagem 1">
        </div>
    </section>


<!--   
    <div class="bannerprincipal">
        <div class="imagembannerprincipal">
            <img src="{{ url_for('static',filename='img/bannerhome (1).png')}}"  alt="Imagem 1">
        </div>
        <div class="imagembannerprincipal">
            <img src="{{ url_for('static',filename='img/bannerhome (2).png')}}" alt="Imagem 2">
        </div>
        <div class="imagembannerprincipal">
            <img src="{{ url_for('static',filename='img/bannerhome (3).png')}}" alt="Imagem 3">
        </div>
        <a class="prev" href="#">passe</a>
        <a class="next" href="#">volte</a>
        
    </div>

--> 


<!--
    
    <ul>
        <a href = "/MeusCupons">Meus Cupons</a>
        <a href = "/EmpreendedoresCaucaia">Empreendedores de Caucaia</a>
        <a href = "/PaguePixCartao">Pague com Pix ou Cartão</a>
    </ul>
    <a href="http://google.com" target = "_blank">Google</a>
    -->







</body>

</html>