<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title tabindex="1">MEIC</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/homepage.css')}}">
    <link rel="icon" href="{{ url_for('static',filename='img/icon1.png')}}">


</head>
<body>
    <div class="header">
         
        <nav class="nav">
            <a href="/" >
                <img src="{{ url_for('static',filename='img/icon4.png')}}" alt="Meic" id="brand-logo">
            <a href = "/Atendimento">Atendimento</a>
            <a href = "/MeusPedidos">Meus Pedidos</a>
            <a href = "/MostrarLojas">Nossas Lojas</a>
            <a href = "/CadastroLojaLogin">Cadastre sua loja</a>

    </nav>
    </div>

    <h1>MEIC - Micro Empreendedor Independente de Caucaia</h1>

    <p> Bem vindo ao site do micro empreendedor independente de Caucaia, onde você poderá tanto cadastrar sua loja e vender seus produtos para todos,
        ou apenas utilizar para a compra produtos dos vendedores micro empreendedores daqui de Caucaia. Sinta-se a vontade e visite nossas lojas parceiras!
    </p>

    <ul>
        <li><a href = "/CadastroUsuario"> Não possui uma conta? Clique aqui para Cadastrar-se</a></li>
        <li><a href = "/LoginUsuario"> Já possui uma conta? Clique aqui para efetuar o Login</a></li>
    </ul>

    <h2>Categorias</h2>
    <ul>
        <li><a href = "/Artesanato"> Artesanato</a></li>
        <li><a href = "/MaquiagemPerfumaria">Maquiagem e Perfumaria</a></li>
        <li><a href = "/CuidadosPessoais">Cuidados Pessoais</a></li>
        <li><a href = "/Decoração">Decoração</a></li>
        <li><a href = "/Jardinagem">Jardinagem</a></li>
        <li><a href = "/Moda">Moda</a></li>
        <li><a href = "/Serviços">Serviços</a></li>
    </ul>

    <ul>
        <a href = "/MeusCupons">Meus Cupons</a>
        <a href = "/EmpreendedoresCaucaia">Empreendedores de Caucaia</a>
        <a href = "/PaguePixCartao">Pague com Pix ou Cartão</a>
    </ul>
    <a href="http://google.com" target = "_blank">Google</a>

-->

</body>

</html>