<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Usuario Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
</head>

<body>
    <div id="login-container">
    <h1>Login</h1>
    <script>
        function doSomething() {
            alert('Login efetuado!');
            return true;
        }
    </script>
    <form onsubmit="return doSomething()" method="post">
        <div>
            <label> E-mail de Usuário: </label>
            <input type="text" name="emailLogin" placeholder="Digite aqui seu e-mail"
                value="{{request.form['emailLogin']}}">
     
            <label> Senha: </label>
            <input type="password" name="senhaLogin" placeholder="Digite aqui sua senha"
                value="{{request.form['senhaLogin']}}">
            <button type="submit" class="botaologin">Efetuar Login</button>
        </div>


    </form>
</body>

</html>