<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset ="UTF-8">
    <title>MostrarLojas</title>

</head>

<body>
    <div class="container-geral">
    <h1>Nossas Lojas</h1>
        <div class="container-dadoslojas">
            <ul>
                {% for dado in dados %}
                <p>Nome da loja: {{dado[1]}}</p>
                <p>CNPJ: {{dado[2]}}</p> 
                <p>ID da Loja: {{dado[0]}}</p>
                {%endfor%}
            </ul>
        </div>

    </div>
        <a href = "/">Voltar à página inicial</a>
    
    </div>

    
    </body>

    </html>