<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset ="UTF-8">
    <title>MostrarLojas</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styleExibirUsuario.css')}}"> -->

</head>

<body>
    <div class="container-geral">
    <h1>Minha Loja</h1>
        <div class="container-dadoslojas">
            <h1>Dados da Loja:</h1>

            <ul>
                {% for dado in dados %}
                <p>ID: {{dado[0]}}</p>
                <p>Nome da loja: {{dado[1]}}</p>
                <p>CNPJ: {{dado[2]}}</p>
                <p>ID do Endereço: {{dado[3]}}</p>
                <p>CPF do Usuário: {{dado[4]}}</p> 
                {%endfor%}
            </ul>
        
            <h2>Opções de usuário: </h2>
            <a href = "/CadastrarProdutos">Cadastrar Produtos</a>
        </div>

    </div>
        <a href = "/">Voltar à página inicial</a>
    
    </div>

    
    </body>

    </html>